[submodule "rusty/third_party/CuteLogger"]
	path = rusty/third_party/CuteLogger
	url = ssh://liulang@git.biofan.org:50122/poolz2/liulang/backup/dev/RustyProject/CuteLogger
	branch = rusty
[submodule "rusty/third_party/breakpad"]
	path = rusty/third_party/breakpad
	url = ssh://liulang@git.biofan.org:50122/poolz2/liulang/backup/dev/RustyProject/breakpad
	branch = rusty
[submodule "rusty/third_party/adwaita-qt"]
	path = rusty/third_party/adwaita-qt
	url = ssh://liulang@git.biofan.org:50122/poolz2/liulang/backup/dev/RustyProject/adwaita-qt
	branch = rusty
[submodule "rusty/third_party/googletest"]
	path = rusty/third_party/googletest
	url = ssh://liulang@git.biofan.org:50122/poolz2/liulang/backup/dev/RustyProject/googletest
	branch = rusty
[submodule "rusty/third_party/zlib"]
	path = rusty/third_party/zlib
	url = ssh://liulang@git.biofan.org:50122/poolz2/liulang/backup/dev/RustyProject/zlib
	branch = rusty
[submodule "rusty/third_party/quazip"]
	path = rusty/third_party/quazip
	url = ssh://liulang@git.biofan.org:50122/poolz2/liulang/backup/dev/RustyProject/quazip
	branch = rusty
