[submodule "rusty/third_party/CuteLogger"]
	path = rusty/third_party/CuteLogger
	url = https://github.com/RustyProject/CuteLogger
	branch = rusty
[submodule "rusty/third_party/breakpad"]
	path = rusty/third_party/breakpad
	url = https://github.com/RustyProject/breakpad
	branch = rusty
