[submodule "rusty/third_party/CuteLogger"]
	path = rusty/third_party/CuteLogger
	url = https://github.com/RustyProject/CuteLogger
	branch = rusty
[submodule "rusty/third_party/breakpad"]
	path = rusty/third_party/breakpad
	url = https://github.com/RustyProject/breakpad
	branch = rusty
[submodule "rusty/third_party/adwaita-qt"]
	path = rusty/third_party/adwaita-qt
	url = https://github.com/RustyProject/adwaita-qt
	branch = rusty
[submodule "rusty/third_party/googletest"]
	path = rusty/third_party/googletest
	url = https://github.com/RustyProject/googletest
	branch = rusty
[submodule "rusty/third_party/zlib"]
	path = rusty/third_party/zlib
	url = https://github.com/RustyProject/zlib
	branch = rusty
